.flex-container {
    display: -webkit-flex;
    display: flex;
    width: 100vw;
    height: 80vh;
    margin-top: 20vh;
    background-color: lightgrey;
}

.flex-carousel {
    background-color: cornflowerblue;
    flex: 2;
    margin: 1%;
    height: 60vh;
}

.flex-sidebar {
    background-color: cornflowerblue;
    flex: 1;
    margin: 1%;
}
